
<header>
  <center><div class="top">

        <div class="logodiv">
          <img src='https://flynn.io/images/flynn-acaf9509.svg' id='logo'>
        </div>
        <ul class="navbar2">
          <li class="item">
            <a href="https://flynn.io/about">About</a>
          </li>
          <li class="item">
            <a href="https://flynn.io/docs">Docs</a>
          </li>
          <li class="item">
            <a href="https://flynn.io/blog">Blog</a>
          </li>
          <li class="item">
            <a href="https://flynn.io/pricing">Pricing</a>
          </li>
          <li class="itembtn">
            <a href="https://flynn.io/docs/installation"><button id='try'>Try</button></a>
          </li>
        </ul>

    </div> </center>
  </header>

  <div class="main">
    <center><div class="title">
      <h1>Throw away the duct tape.</br>Say hello to Flynn.</h1>
    </div> </center>
  </div>
  <center><div class="video">
    <video height="500px" controls><source  src='https://dl.flynn.io/assets/flynn_demo_2m.mp4'></video>
  </div></center>

  <center><div class="middle">
  <center><div class="navbar3">
    <ul>
      <li class="item2">
        <a href="https://flynn.io/apps">Apps</a>
      </li>
      <li class="item2">
        <a href="https://flynn.io/manage">Manage</a>
      </li>
      <li class="item2">
        <a href="https://flynn.io/databases">Databases</a>
      </li>
    </ul>

  </div> </center>
  </div> </center>
